{% load bootstrap4 %}
    <title>Fale conosco!</title>
    {% bootstrap_css %}

{% include "contact-base.html"%}

<div class="col-sm">
<h1 >Contato</h1>
    {% bootstrap_javascript jquery='full' %}
   
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-{{m.tags}}">
            <button type="button" class="close" data-dismiss="alert"></button>
            <strong>{{ m }}</strong>
        </div>
        <h3>Volte para <a href="{% url 'index' %}">index</a></h3>
        {% endfor %}
        {% endif %}
    
    <form action="{% url 'contact' %}" method="post" class="form" autocomplete="off">
        {% csrf_token %}
    {%bootstrap_form form%}
    
       {% buttons %}
       <button type = 'submit' class = 'btn btn-primary'>Envie para nós!</button>
       {% endbuttons %}
    </form> 
</div>
