{% extends 'baseAdm.html' %}
{% block content %}

          {% for term in all %}
          <div class="col-md-6" style="margin-bottom: 15px; margin-top: 10px;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="url 'details' term.id">{{term.word}}</a></li> </div>
            <div class="col-md-6">
            <a href="{% url 'delete' term.id %}"><button type="submit" class="btn btn-primary">Deletar</button></a>
            <a href="#"><button type="submit" class="btn btn-primary">Atualizar</button></a>
          </div> 
          {% endfor %}
          <a href="{% url 'add' %}"><button type="submit" class="btn btn-primary">Adicionar nova palavra</button></a>
        </ul>
{% endblock %}