{% extends 'base.html' %}
{% block content %}
<title>{{terminology.word}}</title>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item">{{terminology.word}}</li>
  </ol>
</nav>
<div class="card text-center">  
  <div>
    <img src="{{ terminology.image.url }}" style="height:450px;width:470px;  width: auto;
    height: auto; "
      class="img-fluid" alt="Imagem relacionada ao termo {{terminology.word}}">
  </div>
  <div class="card-header">
    {{terminology.word }}
  </div>
  <div class="card-header">
    {{terminology.area }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{terminology.translation }}</h5>
    <p class="card-text">{{ terminology.definition }}</p>
  </div>
  <div class="card-footer text-muted">
    Criado em: {{ terminology.createdAt }}
  </div>
  <div class="card-footer text-muted">
    Atualizado em: {{ terminology.updatedAt }}
  </div>
</div>
{% endblock %}