{% extends 'base.html' %}
{% block content %}
<title>Home</title>
<h1 style="">Index</h1>
  {% for glossario in page_obj %}
  <a href="{% url 'word' glossario.id glossario.slug%}"  style = "color: #000000;"> 
    <div class="card mb-3" style="max-width: 540px;margin: 0 auto; float: none; margin-bottom: 10px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{glossario.image.url}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{glossario.word}}</h5>
            <p class="card-text" style="text-overflow: ellipsis;white-space: nowrap;
            width: 100%;                   
            overflow: hidden;   ">{{glossario.definition}}</p>
            <p class="card-text"><small class="text-muted">{{glossario.updatedAt}}</small></p>
          </div>
        </div>
      </div>
    </div>
   </a>
  {% empty %}
  <li>
    <h2>Não achamos nada parecido, desculpe.</h2>
    <hr>Por favor, tente outra palavra
  </li>
  {% endfor %}
</ul>
  {% endblock %}