{% extends 'base.html' %}
{% block content %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" 
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Opções de busca
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Filtro1</button>
    <button class="dropdown-item" type="button">Filtro2</button>
    <button class="dropdown-item" type="button">Filtro3</button>
  </div>
</div>
<h2>Achamos um total de {{ quant }} palavra(s) com "{{query2}}"</h2>
<ul class="list-group">
    {% for word in object_list %}
      <a href="{% url 'word' word.id%}" class="list-group-item list-group-item-action">  {{ word.word }}</a>
    {% empty %}
      <li><h2>Não achamos nada parecido, desculpe.</h2><hr>Por favor, tente outra palavra</li>
    {% endfor %}
</ul>
{% endblock %}

          
    