{% extends "base.html" %}
{% block content %} 
<title>Pesquisa</title>
<h2  >Achamos um total de {{ quant }} palavras com "{{search}}" da área {% if category == None %} geral {% else %} {{category}}  {% endif %} </h2>

    <form class="form-inline" method="GET">
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Categoria</label>
      <select name= 'k' class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option value=''>-----------</option>
        <option value='Engenharias'>Engenharias</option>
        <option value='Ciências exatas e da terra'>Ciências exatas e da terra</option>
        <option value='Ciências biológicas'>Ciências biológicas</option>
        <option value='Ciências da saúde'>Ciências da saúde</option>
        <option value='Ciências agrárias'>Ciências agrárias</option>
        <option value='Ciências sociais e aplicadas'>Ciências sociais e aplicadas</option>
        <option value='Ciências humanas'>Ciências humanas</option>
        <option value='Linguística, letras e artes'>Linguística, letras e artes</option>
        <option value='Outros'>Outros</option>   
      </select>
    
    
      Palavra a pesquisar:
      <input name="q" type="search" value='{{ request.GET.q }}' placeholder="Digite a terminologia" class="form-control">
      <input style = "margin-left: 5px;" class="btn btn-primary mb-2" type="submit" value="Filtrar">
    </form>
     
<ul class="list-group">
  {% for word in page_obj %}  
    <a href="{% url 'word' word.id word.slug%}" class="list-group-item list-group-item-action">  {{ word.word }}</a>
  {% empty %}
    <h2>Não achamos nada parecido, desculpe.</h2>
    <h3>Nos envie essa sugestão <a href="{%url 'contact'%}">aqui</a></h3>
  {% endfor %}
</ul>
{% if is_paginated %}
  <ul class="pagination justify-content-center" style="margin-top: 10px;">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}" tabindex="-1">Previous</a>
      </li>
    {% endif %}
    {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><a class="page-link" href="#">{{num}}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{num}}&q={{ request.GET.q }}">{{num}}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}