{% extends 'base.html' %}
{% block content %}
  <div class="card text-center">
      
      <div style="background-image: url(https://r-cf.bstatic.com/images/hotel/max1024x768/162/162712823.jpg); ">
        <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/162/162712823.jpg" >
        <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/162/162712823.jpg" style="min-width: min-content;" class="img-fluid" alt="Responsive image">
</div>
    <div class="card-header">
        {{glossario.word }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{glossario.trans }}</h5>
      <p class="card-text">{{ glossario.defin }}</p>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
  
{% endblock %}

    