{% extends 'base.html' %}
{% block content %}
  <div class="card text-center">
      <div>
        <img src="{{glossario.image.urls}}" style=" min-width: min-content;filter:blur(0px);height:50%;width:50%;" class="img-fluid" alt="Responsive image">
      </div>
<div class="card-header">
    <img src="">
    {{glossario.image}}
</div>
    <div class="card-header">
        {{glossario.word }}
    </div>
    <div class="card-header">
      {{glossario.area }}
  </div>
    <div class="card-body">
      <h5 class="card-title">{{glossario.trans }}</h5>
      <p class="card-text">{{ glossario.defin }}</p>
    </div>
    <div class="card-footer text-muted">
        Criado em: {{ glossario.createdAt }}
    </div>
  </div>
  
{% endblock %}

    